:root {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;

  color: #1220ba;
  background-color: #ffc02e;

  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;

  /* https://ilxanlar.medium.com/you-shouldnt-rely-on-css-100vh-and-here-s-why-1b4721e74487 */
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}
